
<div class="profile_box">
<div class="box-title">プロフィール</div>
<div class="profile_center">
<img alt="" src="mydog.jpg" class="profile_figure">
<div class="profile_name">名前：萬代唯人(バンダイ　ユイト)</div></div>
<li>自己紹介</li>
<p>大学では経営システム工学を専攻していて経営に関する問題を工学的アプローチで解決する手法を学んでいます。プログラミングに関しては授業でJavaを学びました。
学業の他には居酒屋のホールでアルバイトをしています。学生から社会人まで様々な人とのコミュニケーションを通じて初対面の人とも自然と話せるようになりました。
春休みでは基本情報技術者、TOEICの資格勉強とともにRubyと Ruby on Rails を使ったwebアプリ開発の勉強をしています。
大学卒業後はシステムエンジニアとして働きたいと考えています。
そのためのスキルアップを目的として、長期のインターンシップに参加したいと考えています。なので、積極的に学び、できるだけ早く役に立つ実力をつけたいと考えています。
</p>
<ul>
<li>性別： 男</li>
<li>大学：青山学院大学</li>
<li>学部・学科：理工学部・経営システム工学科</li>
<li>大学：青山学院大学</li>
<li>居住地：東京都国立市</li>

</ul>
</div>